.profile-card {
    width: 30%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 340px;
    margin: 8px;
}

.card-header {
    height: 100px;
    background-color: #607D8B;
    width: 100%;
}

.fas-circle {
    width: 160px;
    height: 160px;
    margin-top: -80px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    border: 8px solid #fff;
}

.profile-info {
    text-align: center;
}

.profile-img {
    width: 180px;
    height: 140px !important;
    border-radius: 50% !important;
}

.profile-name {
    margin-bottom: 0px !important;
    margin-top: 16px !important;
}

.profile-role {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.view-profile-btn {
    padding: 10px 20px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
    transition: transform 0.3s ease;
    transform-origin: center;
    text-decoration: none !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.view-profile-btn:hover {
    color: #fff;
    transform: scale(1.1);
}

.profile-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

@media (max-width: 1024px) {
    .profile-card {
        width: 48%;
        margin: 8px;
    }
}

@media (max-width: 768px) {
    .profile-card {
        width: 100%;
    }
}

.profile-container {
    margin: 32px;
    padding: 32px;
}

.profile-image {
    border-radius: 16px;
}

.profile-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.details-left,
.details-right {
    padding: 15px;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .profile-details {
        grid-template-columns: 1fr;
    }

    .images-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .profile-container {
        margin: 16px;
        padding: 16px;
    }

    .images-container {
        grid-template-columns: 1fr;
    }
}

.images-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.images-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.gallery-image {
    width: 2400px;
    height: 240px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    z-index: 10;
}

#prev-btn {
    left: 0;
}

#next-btn {
    right: 0;
}